section(class="main__about about", id="about")
  h2 О компании
  p Выполняем сложнейшие задачи благодаря пониманию специфики конкретных отраслей, уникальным инженерным решениям и инновационному менеджменту. Ценим профессиональные вызовы и сопричастность к масштабным проектам, способствующим укреплению промышленности и процветанию страны
  ul(class="about__advantage advantage")
    li(class="advantage__list advantage__list-one")
      small Ценности и миссия компании
      h3 Мы работаем так, чтобы вы нас рекомендовали!
    li(class="advantage__list advantage__list-two")
      h3 Комплексное проектирование
      small Детально проектируем, зная, что нам строить объект, а Клиенту эксплуатировать его.
    li(class="advantage__list advantage__list-three")
      h3 Подготовка к строительству
      small Обеспечиваем быстрый старт строительства за счет связи КБ, завода и монтажного отдела.
    li(class="advantage__list advantage__list-four")
      h3 Project Management
      small Создаем прозрачную для Клиента систему управления проектами, предоставляя online график ведения работ
    li(class="advantage__list advantage__list-five")
      h3 Объекты под&nbsp;ключ
      small Строим объекты под ключ до запуска в эксплуатацию. Несем ответственность за результат.
  div(class="about__description description")
    .description__wrapper
      h3 научно-производственное объединение центр&nbsp;антикоррозионных&nbsp;и&nbsp;огнезащитных технологий
        span охта-прим
      p Тщательно подбираем сырье и проверенных поставщиков. Работаем на&nbsp;высокотехнологичном производственном оборудовании. Используем современную систему менеджмента и контроля качества (ISO).
      table
        tr
          th штат сотрудников
          th площадь производства
          th производственная мощь
        tr
          td 135 Специалистов 
          td 5000 м2
          td 6000 м2&nbsp;/&nbsp;месяц
  ul(class="about__company-customers company-customers")
    li(class="company-customers__item company-customers__item-one")
      a(href="#") Клиенты компании
    li(class="company-customers__item company-customers__item-two")
      a(href="https://www.lindner-group.com/" target="_blank")
        img(
        class="company-customers__logo-lindner",
        src="img/logo/lindner-ch.png",
        alt="Компания Линднер",
        width="150",
        height="50")
    li(class="company-customers__item company-customers__item-three")
      a(href="https://josef-gartner.permasteelisagroup.com/" target="_blank")
        img(
        class="company-customers__logo-josefGartner",
        src="img/logo/josefGartner-ch.png",
        alt="Компания Йозеф Гартнер",
        width="185",
        height="80")
    li(class="company-customers__item company-customers__item-four" )
      a(href="https://www.gazprom.com/" target="_blank") 
        img(
        class="company-customers__logo-gazprom",
        src="img/logo/gazprom-ch.png",
        alt="Компания Газпром",
        width="150",
        height="100")
    li(class="company-customers__item company-customers__item-five")
      a(href="https://nipigas.ru/" target="_blank")
        img(
          class="company-customers__logo-nipigaz",
          src="img/logo/nipigaz-ch.png",
          alt="Компания Нипигаз",
          width="100",
          height="100") 
    li(class="company-customers__item company-customers__item-six")
      a(href="https://www.rosneft.ru/" target="_blank") 
        img(
        class="company-customers__logo-rosneft",
        src="img/logo/rosneft-ch.png",
        alt="Компания Роснефть",
        width="150",
        height="100")  
    li(class="company-customers__item company-customers__item-seven")
      a(href="http://yamallng.ru/" target="_blank") 
        img(
        class="company-customers__logo-yamalspg",
        src="img/logo/Yamalspg-ch.png",
        alt="Компания Ямал СПГ",
        width="200",
        height="100") 
    li(class="company-customers__item company-customers__item-eight")
      a(href="http://www.novatek.ru/ru/about/company/" target="_blank")
        img(
        class="company-customers__logo-novatek",
        src="img/logo/novatek-ch.png",
        alt="Компания Новатек",
        width="170",
        height="50")  
  div(class="about__normative-documents normative-documents")
    .normative-documents__header
      small нормативная документация
      h3 У нас есть все необходимые сертификаты и лицензии
    .normative-documents__container
      .swiper-container
        .swiper-wrapper
          figure(class="swiper-slide card")
            img(
              class="normative-documents__img",
              src="img/doc-1.jpg",
              alt="лицензия МЧС",
              width="270",
              height="362")
            figcaption.normative-documents__alt Лицензия МЧС
          figure(class="swiper-slide card")
            img(
              class="normative-documents__img",
              src="img/doc-2.jpg",
              alt="ИСО 9001",
              width="270",
              height="362")
            figcaption.normative-documents__alt Лицензия СРО
          figure(class="swiper-slide card")
            img(
              class="normative-documents__img",
              src="img/doc-3.jpg",
              alt="лицензия СРО",
              width="270",
              height="362")
            figcaption.normative-documents__alt Лицензия СРО
        .swiper-pagination
        .swiper-button-wrap  
          .swiper-button-prev
          .swiper-button-next
  div(class="about__wrapper")
    .about__objects
      ul
        li объекты
        li 293
        li Реализованных объектов
    .about__reviews
      h3 отзывы
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos vero inventore consequuntur veniam sunt exercitationem velit facilis est debitis quidem illo voluptates sit eveniet vitae, non cum aperiam quibusdam nisi?
  div(class="about__about-footer about-footer") 
    .about-footer__slogan
      p Наши специалисты готовы проконсультировать Вас
    div(class="about-footer__footer-contacts footer-contacts")
      ul.footer-contacts__list
        li.footer-contacts__item
          i(class="fas fa-phone-alt footer-contacts__icon") 
        li.footer-contacts__item
          a(class="footer-contacts__tel", href="#") +7 (812) 309-36-64
        li(class="footer-contacts__tel footer-contacts__opening-hours") пн-пт с 9:00 до 18:00
        li.footer-contacts__item
          a(class="footer-contacts__callback", href="#") Перезвонить мне
